agate==1.6.1
agate-dbf==0.2.0
agate-excel==0.2.3
agate-sql==0.5.5
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
ansible-base==2.10.17
anyio==4.9.0
apache-libcloud==3.2.0
argcomplete==1.8.1
async-timeout==5.0.1
attrs==20.3.0
awscli==1.19.1
Babel==2.8.0
beautifulsoup4==4.9.3
botocore==1.20.0
cached-property==1.5.2
certifi==2024.2.2
chardet==4.0.0
charset-normalizer==3.3.2
click==7.1.2
colorama==0.4.4
contourpy==1.3.0
cryptography==3.3.2
csvkit==1.0.5
cycler==0.12.1
DateTime==5.5
dbfread==2.0.7
dbus-python==1.2.16
debocker==0.2.1
decorator==5.2.1
distro==1.9.0
distro-info==1.0+deb11u1
dnspython==2.0.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docstring-parser==0.15
docutils==0.16
dotenv==0.9.9
et-xmlfile==1.0.1
exceptiongroup==1.2.2
fastapi==0.115.12
fonttools==4.57.0
frozenlist==1.6.0
gyp==0.1
h11==0.16.0
haralyzer==2.4.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.18.1
httpx==0.28.1
idna==3.6
importlib-metadata==1.6.0
importlib-resources==6.5.2
iniconfig==0.0.0
instructor==0.4.8
isodate==0.6.0
jdcal==1.0
Jinja2==2.11.3
jiter==0.9.0
jmespath==0.10.0
jsonschema==3.2.0
kiwisolver==1.4.7
leather==0.3.3
libvirt-python==7.0.0
lockfile==0.12.2
lxml==4.6.3
markdown-it-py==3.0.0
MarkupSafe==1.1.1
matplotlib==3.9.4
mdurl==0.1.2
more-itertools==4.2.0
multidict==6.4.3
netaddr==0.7.19
ntlm-auth==1.4.0
numpy==2.0.2
olefile==0.46
openai==1.77.0
openpyxl==3.0.3
packaging==20.9
panda==0.3.1
pandas==2.2.3
parsedatetime==2.6
pd==0.0.4
phonenumbers==8.13.37
Pillow==8.1.2
pluggy==0.13.0
prometheus-client==0.21.1
propcache==0.3.1
psutil==7.0.0
py==1.10.0
pyasn1==0.4.8
pycairo==1.16.2
pycryptodomex==3.9.7
pycurl==7.43.0.6
pydantic==2.11.3
pydantic-core==2.33.1
pygments==2.19.1
PyGObject==3.38.0
PyICU==2.5
pykerberos==1.1.14
pyparsing==2.4.7
pyrsistent==0.15.5
pyte==0.8.2
pytest==6.0.2
python-apt==2.2.1
python-dateutil==2.9.0.post0
python-debian==0.1.39
python-dotenv==1.0.1
python-slugify==4.0.0
pytimeparse==1.1.5
pytz==2021.1
pywinrm==0.3.0
PyYAML==5.3.1
ranger-fm==1.9.3
requests==2.31.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
rich==13.9.4
roman==2.0.0
rsa==4.0
s3transfer==0.3.4
scipy==1.13.0
selinux==3.1
shell-gpt==1.4.4
simplejson==3.17.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.2.1
speedtest-cli==2.1.3
SQLAlchemy==1.3.22
starlette==0.46.2
texttable==1.6.3
thefuck==3.32
toml==0.10.1
tqdm==4.67.1
typer==0.9.4
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2024.2
unattended-upgrades==0.1
Unidecode==1.2.0
urllib3==2.2.1
uvicorn==0.34.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==0.57.0
xlrd==1.2.0
xmltodict==0.12.0
yarl==1.20.0
zipp==3.21.0
zope.interface==7.2
